body{
    margin:20px;
    @font-face {
        font-family: "Montserrat";
     
    }
}
header{
   padding-left: 40px;
}
.yuvinavbar{
    display: flex;
    margin-left:120px;
    margin-top:31px;
    gap:20px;
}
.navtexts{
    display: flex;
    gap:40px;
    margin-top:15px;
}
.textstitle{
    font-size:18px;
    font-weight: 500;
    font-family:"Montserrat";
    color:rgba(33, 33, 33, 1);
}
.icons{
    width:300px;
    height: 26px;
    margin-top:25px;
    margin-left:30px;
   gap:40px;
    display: flex;
}

.telephonenumber{
    font-size:18px;
    font-weight: 500;
    font-family:"Montserrat";
    color:rgba(33, 33, 33, 1);
    margin-top: 22px;
}