body{
    margin:20px;
    @font-face {
        font-family: "Montserrat","Cormorant";
     
    }
}
header{
   padding-left: 40px;
}
.yuvinavbar{
    display: flex;
    margin-left:120px;
    margin-top:31px;
    gap:20px;
}
.navtexts{
    display: flex;
    gap:40px;
    margin-top:15px;
}
.textstitle{
    font-size:18px;
    font-weight: 500;
    font-family:"Montserrat";
    color:rgba(33, 33, 33, 1);
}
.icons{
    width:300px;
    height: 26px;
    margin-top:25px;
    margin-left:30px;
   gap:40px;
    display: flex;
}

.telephonenumber{
    font-size:18px;
    font-weight: 500;
    font-family:"Montserrat";
    color:rgba(33, 33, 33, 1);
    margin-top: 22px;
}


#intro{
    margin-top: 90px;
}
.introi{
    display: flex;
    gap:20px;
   
}
.opaxon{
    width: 442px;
    height: 686px;
}
.opashka{
    width:601px;
    height: 881px;
}
p{
    font-family: "Cormorant";
}
.introtexts{
    display: block;
    h4{
        font-family: "Cormorant";
        font-size: 54px;
        font-weight: 300;
        line-height: 100.8px;
        text-align: left;
        font-display: flex;
      
        font-style:italic;

    }
    p{
        width: 692px;
        height: 144px;
        top: 447px;
        left: 482px;
        gap: 0px;
        opacity : 0px;
        font-family: "Montserrat";
        font-size: 26px;
        font-weight: 400;
        line-height: 39px;
        text-align: left;
        color: #212121;


    }
}
.introbtn
{
    text-align: center;
    width: 315px; 
    height: 87px;
    top: 664px;
    left: 482px;
    background-color:black;
    color:rgba(255, 255, 255, 1);
    font-size:23px;
}

.aksiyal{
    display: flex;
}